@{
    ViewBag.Title = "Forgot Password";
}

<script src="~/Scripts/Bootstrap/bootstrap-collapse.js"></script>
<link href="~/Content/bootstrap-helper.css" rel="stylesheet" />

<div class="row-fluid">
    <div class="block span12">
        <a data-toggle="collapse" class="block-heading" href="#tablelogin">Contraseña olvidada</a>
        <div class="block-body collapse in" id="tablelogin">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>@Html.Label("Usuario", new { @for = "UserName" })</td>
                        <td>@Html.TextBox("UserName",null, new  {  @placeholder = "Ingrese Usuario", @class = "input-large" })</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span style="color:red;">@TempData["Message"]</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" class="btn-u" value="Recover" />
                        </td>
                    </tr>
                </table>
                
                
            }
        </div>
    </div>

</div>