@model AgroGanSite.Models.PTC_Patrocinadores

@{
    ViewBag.Title = "Patrocinadores";
}


<script src="~/Scripts/CustomScript/jquery.flexslider-min.js"></script>
<link href="~/Content/Unify/flexslider.css" rel="stylesheet" />


<div id="clients-flexslider" class="flexslider home clients">

    <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <ul class="slides" style="width: 3400%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-253.33333333333334px, 0px, 0px);">
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
           <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
           <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
           <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
          <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
           <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
           <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
            <li style="width: 125.66666666666667px; float: left; display: block;">
                <a href="#">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" alt="">
                    <img src="http://localhost/AgroGanSite/FilesUploaded/pencils.jpg" class="color-img" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>


<script type="text/javascript">
    var $k = jQuery.noConflict();
    // Initialize the plugin with no custom options

    // None of the options are set
    $k(function () {

        jQuery.ajax(
         {
             type: 'post',
             url: '@Url.Action("GetSponsor", "Sponsor")',
             success: function (data) {
                 var result = JSON.parse(data);
                 var htmlsponsor = '';
                 $k.each(result.$values, function (val, sponsor) {
                     var urlHelper = new UrlHelper();
                     var urlimg = urlHelper.urlImage(sponsor.PTC_Imagen);
                     htmlsponsor += '<li style="width: 125.66666666666667px; float: left; display: block;">';
                     htmlsponsor += ' <a href="#">';
                     htmlsponsor += '<img src="' + urlimg + '" alt="' + sponsor.PTC_Nombre + '" id="' + sponsor.PTC_Id + '"/>';
                     htmlsponsor += '<img src="' + urlimg + '" alt="' + sponsor.PTC_Nombre + '" id="' + sponsor.PTC_Id + '" class="color-img"/>';
                     htmlsponsor += '</a></li>';

                 });
                 
                 $k('.slides').html(htmlsponsor);
                 //moveDiv();
             },
             error: function (a, b, c) {

             }
         });

        $k('#clients-flexslider').flexslider({
            animation: "slide",
            easing: "swing",
            animationLoop: true,
            itemWidth: 1,
            itemMargin: 1,
            minItems: 2,
            maxItems: 9,
            controlNav: false,
            directionNav: false,
            move: 2
        });
    });


</script>
