@{
    ViewBag.Title = "Acerca";
}

<style>
    .page {
        background: none repeat scroll 0 0 white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
        /*margin: 70px 0 0;*/
        padding: 30px 12% 80px;
    }
</style>
<div class="breadcrumbs margin-bottom-50">
    <div class="container">
        <h3 class="color-blue pull-left">Nuestra Empresa</h3>
        <ul class="pull-right breadcrumb">
            <li><a href="index.html">Home</a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "Home")" >Pages</a> <span class="divider">/</span></li>
            <li class="active">Nosotros</li>
        </ul>
    </div>
    <!--/container-->
</div>



<!--=== Content Part ===-->
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <!-- Our Mission -->
            <div class="margin-bottom-20">
                <div class="headline">
                    <h3>Nuestra Misión</h3>
                </div>
                <p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus.</p>
            </div>

        </div>
        <!--/span3-->

        <div class="span9">
            <div class="headline">
                <h3>Nuestros Servicios</h3>
            </div>
            <ul class="thumbnails">
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img src="~/FilesUploaded/2.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a href="#">Our Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img src="~/FilesUploaded/4.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a href="#">One More Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img src="~/FilesUploaded/5.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a href="#">Another Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="thumbnail-style  thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <img src="~/FilesUploaded/6.jpg" alt="" /></div>
                            <a class="btn-more hover-effect" href="#">read more +</a>
                        </div>
                        <h3><a href="#">Huge Work</a></h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
                    </div>
                </li>
            </ul>
            <!--/thumbnails-->

            <!-- About Us -->
            <div class="headline">
                <h3>Acerca de Nosotros</h3>
            </div>
            <p>
                <img class="pull-left lft-img-margin img-width-200" src="~/Content/Images/1.png" alt="" />Fusce condimentum eleifend enim a feugiat. Pellentesque viverra ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>
            <ul class="unstyled">
                <li><i class="icon-ok color-green"></i>Consectetur adipiscing elit</li>
                <li><i class="icon-ok color-green"></i>Ipsum dolor sit amet</li>
                <li><i class="icon-ok color-green"></i>Personal and effective approach</li>
                <li><i class="icon-ok color-green"></i>Ut non libero magna sedot</li>
            </ul>
            <br>

            <!-- Blockquotes -->
            <blockquote class="hero-unify">
                <p>Award winning digital agency. We bring a personal and effective consectetur and effective approach adipiscing elit approach to every project we work on, which is why our clients love us and why they.</p>
                <small>Gerente General, Oldemar Martínez</small>
            </blockquote>
        </div>
        <!--/span9-->
    </div>
    <!--/row-fluid-->
</div>
