@{
    ViewBag.Title = "Acerca";
}

<style>
    .page {
        background: none repeat scroll 0 0 white;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
        /*margin: 70px 0 0;*/
        padding: 30px 12% 80px;
    }
</style>
<div class="span9">



    <div class="page">
        <h1>Historia</h1>
        <p>We all love reading about new things. We also like to remember what we read and use information to build our knowledge. However the workflow of finding, reading, storing, searching and sharing information on the web seems broken to us. It's very random and scattered to many places. </p>
        <p>Kippt grew from that frustration. We want to make your information workflow and archiving effortless. </p>

        <hr>
        <h2>Vision </h2>


        <p>We all love reading about new things. We also like to remember what we read and use information to build our knowledge. However the workflow of finding, reading, storing, searching and sharing information on the web seems broken to us. It's very random and scattered to many places. </p>
        <p>Kippt grew from that frustration. We want to make your information workflow and archiving effortless. </p>
        <hr>
        <h2>Misión </h2>


        <p>We all love reading about new things. We also like to remember what we read and use information to build our knowledge. However the workflow of finding, reading, storing, searching and sharing information on the web seems broken to us. It's very random and scattered to many places. </p>
        <p>Kippt grew from that frustration. We want to make your information workflow and archiving effortless. </p>


    </div>




</div>
