@{
    ViewBag.Title = "Ubicacion";
}

<script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-collapse.js")"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=es"></script>
<style>
    #map-canvas {
        height: 400px;
    }
</style>

<div class="breadcrumbs margin-bottom-10">
    <div class="row-fluid">
        <h3 class="color-blue pull-left">Donde nos ubicamos para tus pedidos</h3>
        <ul class="pull-right breadcrumb">
            <li><a href="#">Inicio</a> <span class="divider">/</span></li>
            <li><a href="@Url.Action("Index", "Home")" >Página</a> <span class="divider">/</span></li>
            <li class="active">Ubicación</li>
        </ul>
    </div>
    <!--/container-->
</div>
@*<div class="container">*@
    <div class="row-fluid">
        <div class="span3">
            <div class="headline">
                <h3>Información</h3>
            </div>
            @Html.Partial("ContactInfo")

            <br />
           
            <div class="headline">
                <h3>Horario</h3>
            </div>
            <ul class="unstyled">
                <li><strong>Lunes-Viernes:</strong> 8am to 5pm</li>
                <li><strong>Sabado:</strong> 8am to 12pm</li>
                <li><strong>Domingo:</strong> Cerrado</li>
            </ul>
        </div>
        <div class="span9">
         
            <div class="headline">
                <h3>Mapa</h3>
            </div>
            <div id="map-canvas"></div>

        </div>
    </div>
@*</div>*@

<script>
    var map = null;
    var markersArray = [];
    var marker;
    //default load position

    function initialize() {
        var latlng = new google.maps.LatLng(8.43581, -82.43475);

        var mapOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        var image = 'favicon.png';
        var urlHelper = new UrlHelper();
        image = urlHelper.urlImage(image);

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: latlng,

            animation: google.maps.Animation.DROP,
            map: map,
            title: "Agroganadera Martínez S.A.",
            icon: image
        });




        //showRoutePath_1();
    }
    // End initialize function
    //remove all markers from map
    function clearOverlays() {
        if (markersArray) {
            for (var i in markersArray) {
                markersArray[i].setMap(null);
            }
        }
    }

    //remove specific marker from map
    function removeMarker(myMark) {
        if (markersArray) {
            for (var i in markersArray) {
                if (myMark == markersArray[i]['number']) {
                    console.log(markersArray[i]['number']);
                    markersArray[i].setMap(null);
                    markersArray.splice(i, 1); //removes marker from array
                    break;
                }
            }
        }
    }

    //check if marker already exist on map
    function checkMarker(number) {
        if (markersArray) {
            for (var i in markersArray) {
                if (markersArray[i]['number'] == number)
                    return true;
            }
        } else
            return false;
    }

    // Mapping variables
    var global_strokeColor = "#ED00FF";
    var global_strokeOpacity = 0.7;
    var global_strokeWeight = 6;

    //Route 1
    function showRoutePath_1() {
        //check if marker1 already on map if true do nothing
        if (checkMarker(1))
            return;
        position = new google.maps.LatLng(8.43581, -82.43475);
        var infowindow = new google.maps.InfoWindow({
            content: "Agroganadera Mart&iacute;nez S.A."
        });
        marker = new google.maps.Marker({
            animation: google.maps.Animation.DROP,
            position: position,
            map: map
        });

        marker['number'] = 1;
        //google.maps.event.addListener(marker, 'click', toggleBounce);
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });

        markersArray.push(marker);

        //open infowWindow with marker
        infowindow.open(map, marker);
        //setTimeout(function () { infowindow.close(); }, 5000);


    }

    function toggleBounce() {

        if (marker.getAnimation() != null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }

    google.maps.event.addDomListener(window, 'load', initialize);


</script>
