@{
    ViewBag.Title = "Carga de Documentos";
}
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@


<div class="breadcrumbs margin-bottom-10">
    <div class="container">
        <div class="row-fluid">
            <h3 class="color-blue pull-left">Carga de Imagenes</h3>
            <ul class="pull-right breadcrumb">
                <li><a href="#">Inicio</a> <span class="divider">/</span></li>
                <li><a href="@Url.Action("Index", "Home")" >Página</a> <span class="divider">/</span></li>
                <li class="active">Imagenes</li>
            </ul>
        </div>
    </div>
    <!--/container-->
</div>

<div class="container">
    <div class="row-fluid public-share ">
        <div class="span3">

            <div>
                @Html.ActionLink("Volver a Dashboard", "Index", "Home", new { @class = "btn-u" })
            </div>

            <br />
            <br />

        </div>

        <div class="span9">

            <br />
            <div class="successmessage">
            </div>

            @Html.Partial("FileUploader")

        </div>
    </div>

</div>
