@{
    ViewBag.Title = "Catalogo";
}

<script src="~/Scripts/jquery-1.7.1.js"></script>
@*<script src="~/Scripts/slides.min.jquery.js"></script>*@
<script src="~/Scripts/Bootstrap/bootstrap-collapse.js"></script>
<script src="~/Scripts/Bootstrap/bootstrap-carousel.js"></script>
<link href="~/Content/bootstrap-helper.css" rel="stylesheet" />

<div class="container-fluid pageProducts">
    <div class="row-fluid public-share ">
        <div class="span3">
            <h2>Categorias</h2>
            <div class="dropDownList">
                @Html.DropDownList("cbxCategorias", ViewBag.Categories as IEnumerable<SelectListItem>)
            </div>
            <h2>Productos</h2>
            <div class="dropDownList">
                @Html.DropDownList("cbxProductos", ViewBag.Products as IEnumerable<SelectListItem>)

            </div>
            <br />
            <br />
            <div style="width: 100px">
                <div style="vertical-align: middle; margin-right: 20px">
                    <a href="https://twitter.com/agrogan" class="twitter-follow-button" data-show-count="false">Follow @@kippt</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                </div>
                <div style="vertical-align: bottom">
                    <div class="fb-like" data-href="http://facebook.com/agrogan" data-send="false" data-width="100" data-show-faces="false" data-layout="button_count"></div>
                </div>
            </div>
        </div>
        <div class="span9">
            <section id="carousel">
                <div class="bs-docs-example">

                    <div id="myCarousel" class="carousel slide">
                    </div>

                </div>
            </section>

            <div class="row-fluid">
                <div class="block span12">
                    <a data-toggle="collapse" class="block-heading" href="#tableproducts">Acerca del Producto<span class="label label-warning"></span></a>
                    <div class="block-body collapse in" id="tableproducts">
                        <div id="htmldescription">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    var $t = jQuery.noConflict();


    var category;
    var product;
    var jsonproducts;

    GetProductsDetails($t("#cbxProductos").val());
    GetProducts($t("#cbxCategorias").val());

    $t("#cbxCategorias").change(function () {
        category = $t(this).val();
        GetProducts(category);
    });

    $t("#cbxProductos").change(function () {
        product = $t(this).val();
        GetProductsDetails(product);
        GetProductHtml(product);
    });

    function GetProductHtml(prodid)
    {
        $t.each(jsonproducts, function (val, product) {
            var prod = product.PRO_Id;
            if (prod == prodid) {
                $t('#htmldescription').html(product.PRO_HTML);
                return false;
            }
        });
    }

    function GetProducts(category) {
        jQuery.ajax(
         {
             type: 'post',
             url: '@Url.Content("~/ProductView/GetProductsByCategory/")',
             data:
             {
                 catid: category
             },
             success: function (data) {
                 var select = $t('#cbxProductos');
                 if (select.prop) {
                     var options = select.prop('options');
                 }
                 else {
                     var options = select.attr('options');
                 }
                 $t('option', select).remove();
                 var result = JSON.parse(data);
                 
                 jsonproducts = result.$values;

                 $t.each(result.$values, function (val, text) {
                     options[options.length] = new Option(text.PRO_Nombre, text.PRO_Id);
                 });

                 var currentproduct = $t("#cbxProductos").val();

                 GetProductsDetails(currentproduct)
                 GetProductHtml(currentproduct);
             },
             error: function (a, b, c) {

             }
         });
     }

    function GetHtmlDescription(prodid) {
         $t.each(jsonresult.$values, function (val, product) {
             var prod = product.PRD_Id;
             if (prod == prodid) {
                 $t('#htmldescription').html(product.PRD_Html);
                 return false;
             }
         });
     }

     var jsonresult;
     function GetProductsDetails(product) {

         jQuery.ajax(
          {
              type: 'post',
              url: '@Url.Content("~/ProductView/GetProductsDetails/")',
              data:
              {
                  prod: product
              },
              success: function (data) {
                  var result = JSON.parse(data);
                  jsonresult = result;
                  //container
                  var htmlresult = '';
                  htmlresult += '<ol class="carousel-indicators">';
                  $t.each(result.$values, function (val, product) {
                      if (val == 0) {
                          htmlresult += '<li data-target="#myCarousel" data-slide-to="' + val + '" class="active"></li>';
                      }
                      else {
                          htmlresult += '<li data-target="#myCarousel" data-slide-to="' + val + '" class=""></li>';
                      }
                  });
                  htmlresult += '</ol><div class="carousel-inner">'
                  $t.each(result.$values, function (val, product) {
                      if (val == 0) {
                          htmlresult += '<div class="item active">';
                      }
                      else {
                          htmlresult += '<div class="item">';
                      }
                      var urlHelper = new UrlHelper();
                      var url = urlHelper.urlImage(product.PRD_Images);
                      htmlresult += '<img src="' + url + '" alt="" onclick="GetHtmlDescription(' + product.PRD_Id + ')">';
                      htmlresult += '<div class="carousel-caption">';
                      htmlresult += '<h4>"' + $t("#cbxProductos").text() + '"</h4>';
                      htmlresult += ' <p>"' + product.PRD_Descripcion + '"</p>';
                      htmlresult += '</div>';
                      htmlresult += '</div>';
                  });

                  htmlresult += '</div><a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>';
                  htmlresult += '<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>';
                  $t('#myCarousel').html(htmlresult);
              },
              error: function (a, b, c) {

              }
          });
      }

	</script>
